html, body {
  margin: 0;
  padding: 0;
}

html{
  background: url(assets/oldtv.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}


canvas {
  display: block;
  margin: 50px auto 50px auto
}
