html, body {
  margin: 0;
  padding: 0;
}

html{
  background: url(assets/oldtv.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

/* img{
  /* width: 1300px;
  height: 800px; */

  /* max-width: 80%;
   height: auto;
   width: auto; */



canvas {
  border-radius: 30px;
}


canvas {
  display: block;
  position: fixed;
  top: 90px;
  left: 130px;
  z-index: -1;
}
